#main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#card {
  background: var(--primary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 6px solid var(--secondary);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form ul {
  list-style-type: none;
  padding: 0;
}

form li {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ede3e3;
}

form input[type="text"],
form input[type="url"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* spacing below each input field */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* includes padding in the width */
}

form textarea {
  height: 100px; /* Fixed height for textarea */
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.btn-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.form-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  opacity: 0.9;
}

.form-group {
  display: inline-block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #card {
    width: 90%;
  }
}

/* Button 79 */
.button-79 {
  align-items: center;
  align-self: flex-end;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Forum, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  margin-top: 20px;
  min-height: 44px;
  outline: none;
  overflow: visible;
  padding: 10px 32px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-79 {
    padding: 10px 32px;
  }
}

.button-79:before,
.button-79:after {
  border-radius: 80px;
}

.button-79:before {
  background-image: linear-gradient(
    92.83deg,
    rgb(231, 162, 72) 0,
    #f93a13 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-79:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-79:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-79:active:not(:disabled) {
  color: #ccc;
}

.button-79:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-79:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-79:disabled {
  cursor: default;
  opacity: 0.24;
}

/* MODAL STYLING */

/* Float cancel and delete buttons and add an equal width */
.cancel-btn,
.delete-btn,
.finish-btn {
  width: 50%;
}

/* Add a color to the cancel button */
.cancel-btn {
  background-color: #ccc;
  color: black;
  font-size: 18px;
}

/* Add a color to the delete button */
.delete-btn {
  background-color: #f44336;
  font-size: 18px;
}
.delete-btn:hover {
  background-color: #0b0303;
  color: #f44336;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.finish-btn {
  background-color: var(--primary);
  font-size: 18px;
}
.finish-btn:hover {
  background-color: var(--appBackground);
  color: var(--primary);
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: flex; /* Changed to flex to use justify-content and align-items */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  max-width: 600px;
  max-height: 80vh;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

#modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 2px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancel-btn,
  .delete-btn {
    width: 100%;
  }
}
