.home {
    display: flex;
    text-align: center;
}

#home_card {
    border-radius: 20px;
    display: flex;
    ;
}
#job_card_title {
    margin-left: 6vh;
    

}
#home_card_img img {
    border-radius: 10px;
}





.back {
    position: relative;
    
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  