.home {
    display: flex;
    text-align: center;
}

#job_detail_card {
    border-radius: 20px;
    padding: 20px;
    color: white;
    width: 50vw; /* Adjusted width to fit content */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    background-color: rgb(134, 5, 89);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    position: relative;
  
}
#job_card_title {
    
    display: flex;
    justify-content: center;
    

}

#job_start {
    
}

#job_house {

}

.job_description {

}

#job_card_img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
#job_card_img img {
    border-radius: 10px;
    width: 150px;
    height: auto;
    margin-right: 20px;
}





.back {
    position: relative;
    
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .card_btm_wrapper {
    display: flex;
    flex-direction: row;
  }

  #back-btn-container {
    ;
    
  }