/* JobsFilteredByHome.css */
.home {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
 .dropdown-container {
  position: relative;
  margin-top: 4vh;
  margin-left: 15px;
  
 
  
}
#area-dropdown-container {
  align-self: center;
}

#dropdown {
  
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  #home_card {
    
    padding: 20px;
    color: white;
    width: 75vw; /* Adjusted width to fit content */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    background-color: rgb(134, 5, 89);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  a {
    color: rgb(144, 191, 210);
    text-decoration: none; /* This will remove underlines from links */
  }
  
  #home_card_title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #home_card_img img {
    width: 150px; /* Adjusted to the original size */
    height: auto;
    margin-right: 20px;
    
  }
  .home-description-container {
    
  
  }

  .home-info {
    
    margin-top: 0px;
  }
  
  .card_btm_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .home_card_topic {
    margin-bottom: 10px;
  }
  