
.logo-container {
    width: 200px;
    display: flex;
    justify-content: center;
    
    
    
    
}


.logo {
 max-width: 100%;  
 justify-content: center;
 display:
}

.logo img {
    max-width: 100%;
}
    
