

.dropdown-container {
  position: relative;
  margin-top: 4vh;
  margin-left: 15px;
  
 
  
}



.dropdown-container::before {
  content: "\f0b0";
  font-family: FontAwesome;
  position: relative;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(15, 3, 3, 0.5);
  
  pointer-events: none;
}

.dropdown-container:hover::before {
  color: rgba(255, 255, 255, 0.6);
  
}

.dropdown-container select option {
  padding: 30px;
}