.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* this fixed the height shift after filtering */
  align-items: stretch;
  overflow-x: hidden;
}

.home_card {
  
  padding: 20px;
  color: white;
  width: calc(20% - 20px);  /* 40px accounts for left and right padding */
  /* this fixed the width shift after filtering */
  min-width: 300px; 
  min-height: fit-content;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* More noticeable shadow */    
  margin: 20px;
  background-color: rgb(134, 5, 89); 
  border-radius: 20px;
}

.home_card:hover {
  box-shadow: 0px 10px 28px  rgba(0,0,0,0.5); /* This makes the shadow more pronounced on hover */
}
div  p {
  
  text-align: center;
}


a {
  color: rgb(144, 191, 210);
}
.home_card_title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.home_card_img img {
  width: 100%;  
  height: 200px;  
  object-fit: cover;  /* this makes the image cover the container without stretching*/
  min-width: 225px;  
  border-radius: 20px;
}

.home-info {
  margin-top: 10px;
}

.btn-container {
  margin-top: 20px;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
