.home_card_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 20%;
}

h2 {
  font-weight: 400;
}



.home_title_card {
  
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 5px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  background-color: rgb(134, 5, 89);
  
}
.dropdown_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.dropdown-container select {
  background-color: rgb(134, 5, 89);
  color: rgb(181, 197, 203);
  padding: 12px;
  border-radius: 20px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

/* .dropdown-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
} */


.home_title {
  color: whitesmoke;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
